
@*솔루션명.Models.해당모델명*@
@model AspnetNote.Models.Note

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form class="form-horizontal" method="post" asp-controller="Note" asp-action="Add">
            @*// 오류 발생시 전역오류 발생 체크*@
            @*
                [ 1 ] Controller에 NoteController에 ModelState.AddModelError 작성
            *@
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label> 제목</label>
                <input type="text" class="form-control" asp-for="NoteTitle" placeholder="제목 입력" />
                @*[ 1 ] Model Class - Note.cs에 (ErrorMessage 작성)*@
                <span class="text-danger" asp-validation-for="NoteTitle"></span>
            </div>

            <div class="form-group">
                <textarea class="form-control" rows="20" asp-for="NoteContent" placeholder="내용 입력"></textarea>
                @*[ 1 ] Model Class - Note.cs에 (ErrorMessage 작성)*@
                <span class="text-danger" asp-validation-for="NoteContent"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">저장</button>
                <a class="btn btn-default" asp-controller="note" asp-action="index">취소</a>
            </div>

        </form>
    </div>
    <div class="col-lg-4"></div>
</div>